body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    /* justify-content: center;
    align-items: center; */
}

.main {
    /* padding: 1em; */
    display: flex; 
    flex-direction: row;
    height: 100%;
}

.footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

.nav{
    background-color: lightgray;
    flex: 0 0 7em;
    padding: 10px;
}

.section{
    display: flex;
    background-color:white;
    align-items: stretch; 
    /* height: 100%; */
    flex: 1 0 0;
    padding: 10px;
}
